@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Gasoek+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gasoek One", sans-serif;
}
body {
  background: #28104e;
  color: #eee;
}
/* .interact-enter-active,
.interact-leave-active {
  transition: opacity 0.5s ease;
}

.interact-enter-from,
.interact-leave-to {
  opacity: 0;
} */
